* {
    font-family: sans-serif;
    box-sizing: border-box;
    /*
       CSS comment
       The box-sizing CSS property sets how the total width and height of an element are calculated. 
       If you set box-sizing: border-box; on an element, padding, and border are included in the width and height:
    */
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 15px 30px;
    font-family: 'Calibri';
    height: 100%;
    background: linear-gradient(
        135deg,
        #f4e6c5 0%,
        #d9e2c7 65%,
        #aab89a 100%);
}

.header {
    padding: .5em;
    background-color: #899b7a;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    font-weight: bold;
}

.header > .home_link {
    padding: .5em;
    text-decoration: none;
    color: #34495e;
    margin-left: 10px;

}

.header > .home_link:hover {
    background-color: #aab89a;
    border-radius: 12px;
}

.header > img {
    width: 3em;
    border-radius: 50%;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap; /* flex-wrap: wrap is necessary for align-content to work */
    align-items: center;
    flex: 1;
    padding: 1em;
}

.add_post_form {
    width: fit-content;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap; /* flex-wrap: wrap is necessary for align-content to work */
    align-items: center;
    background-color: #a9b89d;
    border-radius: 1em;
}

.post_body_text_label, .post_body_file_label {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

.post_body_text_label > textarea {
    border: 1px solid #899b7a;
    font-size: 16px;
}

.post_body_file_label > input {
    background-color: #899b7a;
    /* ask */
}

.post_body_file_label > input::file-selector-button {
    background-color: #536747;
}

.create_post_button {
    width: fit-content;
    background-color: #536747;
    color: white;
    border: none;
    padding: .5em;
    text-decoration: none;
}